{
  "ConnectionStrings": {
    "DefaultConnection": "Server=(mango)\\MSSQLLocalDB;Database=Rocky;Trusted_Connection=True;MultipleActiveResultSets=True"
  },
  "StaticFilePaths": {
    "ImagePath": "images\\product"
  }
}
